<template>
  <div>{{ componentName }}</div>
</template>

<script setup lang="ts">
export interface {{ componentName }}Props {}

export interface {{ componentName }}Emits {}

const props = defineProps<{{ componentName }}Props>()
const emit = defineEmits<{{ componentName }}Emits>()
</script>
